<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				AequeVox: Automated Fairness Testing of Speech Recognition Systems.
			</span><br />
			<span class="authors">
				Sai Sathiesh Rajan, Sakshi Udeshi, and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Under Review</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2010.02542">Astraea: Grammar-based fairness testing</a>.
			</span><br />
			<span class="authors">
				Ezekiel Soremekun*, Sakshi Udeshi*, and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Under Major Revision - IEEE Transactions on Software Engineering (TSE)</span>.
			<span class="note">
			* Equal Contribution.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ieeexplore.ieee.org/abstract/document/9159051/">Callisto: Entropy-based test generation and data quality assessment for machine learning systems</a>.
			</span><br />
			<span class="authors">
				Sakshi Udeshi, Xingbin Jiang, and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">2020 IEEE 13th International Conference on Software Testing, Validation and Verification (ICST)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2003.00865">Exposing backdoors in robust machine learning models</a>.
			</span><br />
			<span class="authors">
				Ezekiel Soremekun*, Sakshi Udeshi*, and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Under Review</span>.
			<span class="note">
			* Equal Contribution.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1902.10027">Grammar Based Directed Testing of Machine Learning Systems</a>.
			</span><br />
			<span class="authors">
				Sakshi Udeshi and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Software Engineering (TSE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1908.02203.pdf">Model Agnostic Defence against Backdoor Attacks in Machine Learning</a>.
			</span><br />
			<span class="authors">
				Sakshi Udeshi, Shanshan Peng, Gerald Woo, Lionell Loh, Louth Rawshan, and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Under Review</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3238147.3238165">Automated directed fairness testing</a>.
			</span><br />
			<span class="authors">
				Sakshi Udeshi, Pryanshu Arora, and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 33rd (ACM/IEEE) International Conference on Automated Software Engineering, (ASE) 2018, Montpellier, France, September 3-7, 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
